*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}




.main{
    height: 100%;
    width: 100%;
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6vw;
    height: 60px;
    background-color: #b965f8;
}

.navbar h2{
    font-size: 2.5vw;
}

.mynav a{
    font-size: 1.8vw;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.mynav i{
    display: none;
}

.navleft{
    display: flex;
    align-items: center;
}

.navleft img{
    height: 100%;
    width: 3.7vw;
    margin-right: 1vw;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.name{
    color: #b965f8;
}

.content{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    padding: 0 6vw;

}

.left{
    height: 100%;
    width: 50%;
    padding: 10% 0;
}

.left h1{
    font-size: 4vw;
    line-height: 5vw;
}

.left h3{
    font-size: 2vw;
    line-height: 2.2vw;
}

button{
    font-size: 2vw;
    color: white;
    background-color: #b965f8;
    border-radius: 4px;
    padding: 1vh 1vh;
    margin-top: 6%;
    cursor: pointer;
}

.right{
    height: 100%;
    width: 50%;
}

.right img{
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 6vw;
        height: 60px;
        
    }
    
    .navleft h2{
        font-size: 6.5vw;
    }
    
    .mynav a{
    font-size: 4vw;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    display: none;
    }

    .mynav i{
        display: flex;
        font-size: 8vw;
        cursor: pointer;
    }

    .mynavmobile{
        
            position: fixed;
            top: 0; 
            right: 0;
            height: 50vh;
            width: 160px;
            background-color: #b965f8;
            backdrop-filter: blur(1000px);
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
            list-style: none;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;  
    }

    .mynavmobile a{
        margin-bottom: 50px;
        font-size: 8vw;
        cursor: pointer;
        text-decoration: none;
        margin-left: 10px;
        color: black ;
    }

    .mynavmobile i{
        margin-top: 2px;
        margin-bottom: 25px;
        font-size: 8vw;
        cursor: pointer;
        font-weight: 800px;
        border: 2px solid black;
    }

    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }

    .navleft img{
        height: 100%;
        width: 15vw;
        margin-right: 2vw;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .name{
        color: #b965f8;
    }

    .left{
        height: 50%;
        width: 100%;
    }
    
    .left h1{
        font-size: 12vw;
        line-height: 14vw;
    }
    
    .left h3{
        font-size: 6vw;
        line-height: 5.6vw;
    }

    .right{
        height: 50%;
        width: 100%;
    }

    button{
    font-size: 6vw;
    color: white;
    background-color: #b965f8;
    border-radius: 4px;
    padding: 1vh 1vh;
    margin-top: 2%;
    cursor: pointer;
    margin-left: 35%;
    }
}